.body{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.productList{
    width: auto;
    margin: 40px 0 60px 0;
    padding: 0 6%;
    display: flex;
    flex-wrap: wrap;

    .item{
        width: 270px;
        height: 280px;
        margin: 60px 2% 0 2.6%;
        padding: 10px 0;
        background-color: antiquewhite;

        img{
            width: 100%;
            height: 100%;
            vertical-align: bottom;
            object-fit: scale-down;
        }
    }
}

.HomeListDetail{
    width: auto;
    margin: 80px 0 40px 0;
    padding: 0 20%;

    .HomeListDetailName{
        font-size: 1.8rem;
        margin: 0 0 30px 0;
        padding: 0 20px 6px 20px ;
        border-bottom: 2px solid #000;
        width: fit-content;
    }

    .HomeListDetailImgBack{
        width: 60vw;
        height: 70vh;
        padding: 12px 0;
        background-color: rgb(171, 171, 171);
        position: relative;

        img{
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }

        .heartPosition{
            position: absolute;
            bottom: 15px;
            right: 20px;
        }
        
    }

    .HomeListDetailText{
        width: 60vw;
        height: 100%;
        border: 1px solid rgb(114, 114, 114);
        border-top: none;
        box-sizing: border-box;
        padding: 40px 30px 0 30px;
        position: relative;

        .cartPosition{
            position: absolute;
            right: 80px;
            top: 120px;
        }

        .introduce{
            border-bottom: 1px solid #ccc;
            margin: 0 0 20px 0;
            padding: 0 20px 15px 20px ;
            font-size: 1.1rem;
        }

        .price{
            padding: 40px 20px 20px 20px ;
            font-size: 1.1rem;
        }
    }
}

.Chat{
    width: auto;
    margin: 30px 0 0 0;
    padding: 30px 3%;
    border-top: 1px solid #ccc;
    text-align: center;

    .chatNone{
        margin: 50px 0;
        color: #bbb;
    }

    .details{
        margin: 60px 0;
        list-style: none;

        .moreButtonBlock{
            background-color: #000;
            color: #fff;
            padding: 8px 120px;
            width: fit-content;
            display: inline-block;
            border-radius: 20px;
        }

        .moreButtonNone{
            display: none;
        }
    }

    .ChatWidthTrue{
        width: 100%;
        text-align: left;
        position: relative;

        img{
            width: 50px;
            height: 50px;
            vertical-align: bottom;
            border-radius: 50%;
            position: absolute;
            top: 6px;
        }

        .ChatTrue{
            margin: 10px 0;
            padding: 10px 14px;
            border-radius: 5px;
            background-color: rgb(215, 215, 215);
            width: fit-content;
            display: inline-block;
            position: relative;
            left: 70px;
        }

    }

    .ChatWidthFalse{
        width: 100%;
        text-align: right;
        position: relative;

        img{
            width: 50px;
            height: 50px;
            vertical-align: bottom;
            border-radius: 50%;
            position: absolute;
            top: 6px;
            right: 0;
        }

        .ChatFalse{
            margin: 10px 0;
            padding: 10px 14px;
            border-radius: 5px;
            background-color: rgb(215, 215, 215);
            width: fit-content;
            display: inline-block;
            position: relative;
            right: 70px;
        }
    }
}

.ChatPost{
    width: auto;

    .inputText{
        width: 270px;
        height: 14px;
        margin: 0 10px 0 60px;
        padding: 9px 6px;
    }

    .Button{
        background-color: #000;
        color: #fff;
        padding: 6px 10px;
        width: 70px;
        border-radius: 20px;
    }
}

.backColor{
    background-color: antiquewhite;
    margin-top: 20px;
}

.ProductItemListFont{
    margin: 80px 0 20px 8%;
    font-size: 1.4rem;
}

.ProductItemList{
    width: auto;
    margin: 10px 0 60px 0;
    padding: 0 7%;
    display: flex;
    flex-wrap: wrap;

    .ItemList{
        width: 220px;
        height: 210px;
        margin: 40px 0% 0 3% ;
        padding: 10px 0;
        background-color: antiquewhite;

        img{
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }
    }
}

.Like{

    .LikeButton{
        width: 55px;
        height: 55px;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            left: 25px; /* x位置 */
            top: 0; /* y位置 */
            width: 25px; /* 幅 */
            height: 45px; /* 高さ */
            background: #FF5252; /* 色 */
            border-radius: 45px 25px 0 0; /* 丸み */
            transform: rotate(-45deg); /* 角度調整 */
            transform-origin: 0 100%; /* 回転の基準点 */
        }

        &::after{
            content: "";
            position: absolute;
            left: 0; /* x位置 */
            top: 0; /* y位置 */
            width: 25px; /* 幅 */
            height: 45px; /* 高さ */
            background: #FF5252; /* 色 */
            border-radius: 25px 45px 0 0; /* 丸み */
            transform: rotate(45deg); /* 角度調整 */
            transform-origin: 100% 100%; /* 回転の基準点 */
        }

        &:hover{
            cursor: pointer;
        }
    }

    .UnLikeButton{
        width: 55px;
        height: 55px;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            left: 25px; /* x位置 */
            top: 0; /* y位置 */
            width: 25px; /* 幅 */
            height: 45px; /* 高さ */
            background: #ffffff; /* 色 */
            border-radius: 45px 25px 0 0; /* 丸み */
            transform: rotate(-45deg); /* 角度調整 */
            transform-origin: 0 100%; /* 回転の基準点 */
        }

        &::after{
            content: "";
            position: absolute;
            left: 0; /* x位置 */
            top: 0; /* y位置 */
            width: 25px; /* 幅 */
            height: 45px; /* 高さ */
            background: #ffffff; /* 色 */
            border-radius: 25px 45px 0 0; /* 丸み */
            transform: rotate(45deg); /* 角度調整 */
            transform-origin: 100% 100%; /* 回転の基準点 */
        }

        &:hover{
            cursor: pointer;
        }
    }
}

.LikeProduct{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .LikeProductPadding{
        width: auto;
        margin: 100px 0 0 0;
        padding: 0 10%;
        display: flex;
        flex-wrap: wrap;

        .ImgBack{
            width: 223px;
            height: 220px;
            margin: 0 40px 60px 40px;
            padding: 10px 0;
            background-color: antiquewhite;

            img{
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }
        }
    }
}
