.profile{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .backImg{
        width: 100%;
        height: 500px;

        img{
            width: 100%;
            height: 100%;
        }
    }

    .intoroduce{
        width: 100%;
        position: relative;

        .IconImg{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            top: -40px;
            left: 14vw;
    
            img{
                width: 100%;
                height: 100%;
                vertical-align: bottom;
                border-radius: 50%;
            }
        }

        .profileText{
            width: auto;
            padding: 30px 25% 0 25% ;
            position: relative;

            .profileName{
                font-size: 1.1rem;
                font-weight: 700;
                margin: 0 0 0 30px;
            }
        }
    }
}

.ProfileProductList{
    width: auto;
    margin: 100px 0 0 0;
    padding: 0 10%;

    .ProfileProductListFont{
        font-size: 1.3rem;
        font-weight: 700;
        margin: 10px 0 70px 0;
    }

    .flex{
        display: flex;
        flex-wrap: wrap;

        .productImg{
            width: 220px;
            height: 220px;
            margin: 0 40px 60px 40px;
            padding: 10px 0;
            background-color: antiquewhite;

            img{
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }
        }
    }
}

.Folllow{
    display: flex;
    position: absolute;
    top: 30px;
    margin: 0 0 0 90px;

    a{
        margin: 0 20px 0 20px;
        color: #000;
    }
}

.Following{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .FollowingDiv{
        width: auto;
        margin: 60px 30% 0 30%;
        // border-top: 1px solid #ccc;

        .followList{
            padding: 30px 60px;
            border-bottom: 1px solid #ccc;
            display: flex;

            .iconBack{
                width: 85px;
                height: 85px;
                border-radius: 50%;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .name{
                font-size: 1.2rem;
                margin: 7px 0 0 40px;
                color: #000;
            }
        }
    }
}